.App {
  /* background-color: rgb(255, 247, 240);
  background-image: url("/src/assets/img/bg.png");
  background-attachment: fixed;
  /* background-image: url("https://c8.alamy.com/comp/J90EDD/background-blood-donor-day-style-collection-J90EDD.jpg"); */
  /* background-image: url("https://apollocancercentres.com/explore/donate/blood-donation/blood-donation.jpg"); */
  /* background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%; */
  /* background-position: center; */
  /* background-size: 100%; */ 
  background-image: linear-gradient(to bottom right, rgb(255, 111, 0), rgb(255, 255, 255),rgb(26, 255, 0));

}
